version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: auction-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: harshhdockerhub/auction-backend:latest
    container_name: auction-backend
    environment:
      MONGODB_URI: mongodb://auction-mongodb:27017/auctiondb
      PORT: 5000
    depends_on:
      - mongodb
    ports:
      - "5000:5000"

  frontend:
    image: harshhdockerhub/auction-frontend:latest
    container_name: auction-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data:
